* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

label {
    margin-top: 0.9rem;
    display: inline-block;
    width: 8rem;
}

input {
    margin-top: 0.9rem;
}

#input-subscription + label {
    width: 20rem;
}

select {
    margin-top: 0.9rem;
    padding: 0.1rem;
    font-size: 1rem;
}

button {
    margin-top: 0.9rem;
    padding: 0.3rem;
    font-size: medium;
}

#error-messages {
    color: red;
}