* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    font-size: x-large;
    font-weight: bold;
}

label {
    margin-top: 0.9rem;
    display: inline-block;
    width: 8rem;
}

input {
    margin-top: 0.9rem;
}

#input-subscription + label {
    width: 20rem;
}

select {
    margin-top: 0.9rem;
    padding: 0.1rem;
    font-size: 0.8rem;
}

button {
    margin-top: 0.9rem;
    padding: 0.3rem;
    font-size: medium;
}

.error-text {
    color: red;
}

.error-input {
    border: 0.1rem red solid;
}